########################################################################
# File managed by Salt at <{{ source }}>.
# Your changes may be overwritten.
########################################################################

{%- if defaults %}
    {%- for item in defaults %}
{{ item }}
    {%- endfor %}
{%- endif %}
