########################################################################
# File managed by Salt at <{{ source }}>.
# Your changes may be overwritten.
########################################################################

{%- if prometheus.environ %}
    {%- for item in prometheus.environ %}
{{ item }}
    {%- endfor %}
{%- endif %}
